@model IEnumerable<HotelProject.Models.Propertie>
@{
    ViewData["Title"] = "Propertie_Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Свойства</h2>

<p>
    <a asp-action="Propertie_Add">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <p><img src="@Url.Content(item.Image)"></p>
                </td>
                <td>
                    <a asp-action="Propertie_Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Propertie_Delete" asp-route-id="@item.Id">Удалить</a> |
                </td>
            </tr>
        }
    </tbody>
</table>

