@model HotelProject.Models.Request
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Редактирование</title>
</head>
<body>
    <div>
        <h3>Редактор </h3>
        <form method="post">
            <input type="hidden" value="@ViewBag.RequestId" name="RequestId" />
            <fieldset>
                @Html.HiddenFor(m => m.Id)
                <p>
                    @Html.LabelFor(m => m.Phone, "Телефон")
                    <br />
                    @Html.EditorFor(m => m.Phone)
                </p>
                <p>
                    @Html.LabelFor(m => m.Email, "Почта")
                    <br />
                    @Html.EditorFor(m => m.Email)
                </p>
                <p>
                    @Html.LabelFor(m => m.DataTimeRequest, "Время")
                    <br />
                    @Html.EditorFor(m => m.DataTimeRequest)
                </p>
                <p>
                    @Html.LabelFor(m => m.Text, "Текст")
                    <br />
                    @Html.EditorFor(m => m.Text)
                </p>
                <p><input type="submit" value="Отправить" /></p>
            </fieldset>
        </form>
    </div>
</body>
</html>