@model IEnumerable<HotelProject.Models.Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title>Список комментариев</title>
</head>
<body>
    <h3>Список комментариев</h3>
    <table>
        <tr>
            <td>Комментарий:</td>
            <td>Имя:</td>
            <td>Фамилия:</td>
            <td>Телефон:</td>
            <td>Почта:</td>
            <td>Оценка:</td>
        </tr>
        @foreach (var comment in Model)
        {
    <tr>
        <td>@comment.Feedback</td>
        <td>@comment.Name</td>
        <td>@comment.Surname</td>
        <td>@comment.Phone</td>
        <td>@comment.Email</td>
        <td>@comment.Rating</td>
        <td><a href="~/Comment/Edit/@comment.Id">Изменить</a></td>
        <td><a href="~/Comment/Delete/@comment.Id">Удалить</a></td>
    </tr>
        }
    </table>
    @*<a href="~/Comment/Add">Добавить</a>*@
</body>
</html>
