@model IEnumerable<HotelProject.Models.Option>
@{
    ViewData["Title"] = "Option_Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Опции</h2>

@if (TempData["Option Add"] != null)
{
    <div class="alert alert-success">
        @TempData["Option Add"]
    </div>
}
@if (TempData["Option Edit"] != null)
{
    <div class="alert alert-success">
        @TempData["Option Edit"]
    </div>
}
@if (TempData["Option Delete"] != null)
{
    <div class="alert alert-success">
        @TempData["Option Delete"]
    </div>
}


<p>
    @Html.ActionLink("Добавить новую опцию", "Option_Add", "", htmlAttributes: new { @class = "btn btn-success" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Option_Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Option_Delete" asp-route-id="@item.Id">Удалить</a> 
                </td>
            </tr>
        }
    </tbody>
</table>