@model HotelProject.Models.ImageFilter
@{
    ViewData["Title"] = "Add Image";
}

<h3>Все картинки</h3>

@if (TempData["Add Image"] != null)
{
    <div class="alert alert-success">
        @TempData["Add Image"]
    </div>
}
@if (TempData["Edit Image"] != null)
{
    <div class="alert alert-success">
        @TempData["Edit Image"]
    </div>
}
@if (TempData["Delete Image"] != null)
{
    <div class="alert alert-success">
        @TempData["Delete Image"]
    </div>
}


<p>
    @Html.ActionLink("Добавить новую картинку", "Add", "", htmlAttributes: new { @class = "btn btn-success" })
</p>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Продукты:</label>
        @Html.DropDownList("ProductId", Model.Products as SelectList,
                    htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
</form>


<table class="table">
    <thead>
        @foreach (var item in Model.Images)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(modelitem => item.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(modelitem => item.ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(modelitem => item.ProductId)
                </th>
            </tr>
            break;
        }
        </thead>
    <tbody>
        @foreach (var item in Model.Images)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <p><img src="@Url.Content(item.ImagePath)"></p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>