@model IEnumerable<HotelProject.Models.Product>

@{
    ViewData["Title"] = "ListForCategories";
}

<h2>Cписок продуктов</h2>

<p>
    @Html.ActionLink("Добавить новый продукт", "Product_Add", "", htmlAttributes: new { @class = "btn btn-success" })
    @*<a asp-action="Product_Add">Создать новый</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    <p><img src="@Url.Content(item.Image)"></p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
           
                <td>
                    <a asp-action="Product_Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Product_Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>