@model HotelProject.Models.ProductWithPropertiesViewModel
@{
    ViewData["Title"] = "Product_Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавить</h2>

<h4>Продукт</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Product_Add" asp-controller="Product" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Название</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label">Краткое описание</label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Изображение</label>
                <input type="file" name="uploadedFile" id="UploadFile" />
                <img id="imgpreview" src="~/files/no_image.png" />
            </div>
            <div class="form-group">
                <label class="control-label">Категория</label><br />
                @Html.DropDownListFor(model => model.CategoryId, ViewBag.Categories as SelectList)
            </div>
            <div class="checkbox">
                @for (int i = 0; i < Model.PropertyList.Count; i++)
                {

                    <input type="checkbox" asp-for="@Model.PropertyList[i].isChecked" /> @Model.PropertyList[i].Title
                    <input type="hidden" asp-for="@Model.PropertyList[i].Id" />
                    <input type="hidden" asp-for="@Model.PropertyList[i].Title" />
                    <input type="hidden" asp-for="@Model.PropertyList[i].Description" />
                    <br />
                }
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label">Цена</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Продукты", "Product_Index")
</div>

@section Scripts
{
    <script src="~/js/ProductScript.js"></script>
}