@model IEnumerable<HotelProject.Models.Product>
@{
    ViewData["Title"] = "Product_Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title>Список товаров</title>
</head>
<body>
    <h3>Список товаров</h3>
    <table>
        <tr>
            <td>Название:</td>
            <td>Описание:</td>
            <td>Короткое описание:</td>
            <td>Цена:</td>
            <td>Картинка:</td>
        </tr>
        @foreach (var product in Model)
        {
    <tr>
        <td>@product.Title</td>
        <td>@product.Description</td>
        <td>@product.ShortDescription</td>
        <td>@product.Price</td>
        <td>@product.Image</td>
        <td><a href="~/Product/Product_Edit/@product.Id">Изменить</a></td>
        <td><a href="~/Product/Product_Delete/@product.Id">Удалить</a></td>
    </tr>
        }
    </table>
    <a href="~/Product/Propduct_Add">Добавить</a>


</body>
</html>