@model HotelProject.Models.Product
@{
    ViewData["Title"] = "Product_Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Удаление</h2>
<div>
    <h4>Продукт</h4>
    <dl class="dl-horizontal">
        <dt>Название: </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>Описание: </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>Краткое описание: </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt>Картинка: </dt>
        <dd>
            <img src="@Url.Content(Model.Image)" />
        </dd>
        <dt>Цена: </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    <form asp-action="Product_Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
    </form>
</div>

<div>
    @Html.ActionLink("Продукты", "Product_Index")
</div>