@model HotelProject.Models.Product
@{
    ViewData["Title"] = "Product_Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Редактирование товаров</title>
</head>
<body>
    <div>
        <h3>Редактор товаров</h3>
        <form method="post">
            <input type="hidden" value="@ViewBag.ProductId" name="ProductId" />
            <fieldset>
                @Html.HiddenFor(m => m.Id)
                <p>
                    @Html.LabelFor(m => m.Title, "Название товара")
                    <br />
                    @Html.EditorFor(m => m.Title)
                </p>
                <p>
                    @Html.LabelFor(m => m.Description, "Описание")
                    <br />
                    @Html.EditorFor(m => m.Description)
                </p>
                <p>
                    @Html.LabelFor(m => m.ShortDescription, "Краткое Описание")
                    <br />
                    @Html.EditorFor(m => m.ShortDescription)
                </p>
                <p>
                    @Html.LabelFor(m => m.Image, "Цена")
                    <br />
                    @Html.EditorFor(m => m.Image)
                </p>
                <p>
                    @Html.LabelFor(m => m.Image, "Картинка")
                    <br />
                    @Html.EditorFor(m => m.Image)
                </p>
                <p>
                    @Html.LabelFor(m => m.CategoryId, "Картинка")
                    <br />
                    @Html.DropDownListFor(model => model.CategoryId, ViewBag.Categories as SelectList)
                </p>
                <p><input type="submit" value="Отправить" /></p>
            </fieldset>
        </form>
    </div>
</body>
</html>

