@model HotelProject.Models.Product
@{
    ViewData["Title"] = "Product_Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Добавление товара</title>
</head>
<body>
    <div>
        <h3>Добавление свойств</h3>
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.Title, "Название товара")
            <br />
            @Html.EditorFor(model => model.Title)
            <br /><br />
            @Html.LabelFor(model => model.Description, "Описание")
            <br />
            @Html.EditorFor(model => model.Description)
            <br /><br />
            @Html.LabelFor(model => model.ShortDescription, "Краткое Описание")
            <br />
            @Html.EditorFor(model => model.ShortDescription)
            <br /><br />
            @Html.LabelFor(model => model.Price, "Цена")
            <br />
            @Html.EditorFor(model => model.Price)
            <br /><br />
            @Html.LabelFor(model => model.Image, "Картинка")
            <br />
            @Html.EditorFor(model => model.Image)
            <br /><br />
            @Html.DropDownListFor(model => model.CategoryId, ViewBag.Categories as SelectList)
            <br /><br />
            @*@Html.CheckBoxFor(model => model.Propert)*@
            <br /><br />
            <input type="submit" value="Добавить" />
        }
    </div>
</body>
</html>