
@model HotelProject.Models.ProductFilter
@{
    ViewData["Title"] = "Product_Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Продукты</h2>

@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]
    </div>
}
<p>
    @Html.ActionLink("Создать новый продукт", "Product_Add","", htmlAttributes: new {@class = "btn btn-success"})
    @*<a asp-action="Product_Add">Создать</a>*@
</p>
<form method="get">
    <div class="form-inline">
        <label class="control-label">Категории:</label>
        @Html.DropDownList("categoryId", Model.Categories as SelectList,
                    htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
</form>
<table class="table">
    <thead>
        @foreach (var item in Model.Products)
        {
        <tr>
            <th>
                @Html.DisplayNameFor(modellItem => item.Title)
            </th>
            <th>
                @Html.DisplayNameFor(modellItem => item.Description)
            </th>
            <th>
                @Html.DisplayNameFor(modellItem => item.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(modellItem => item.Image)
            </th>
            <th>
                @Html.DisplayNameFor(modellItem => item.Price)
            </th>
            <th>
                @Html.DisplayNameFor(modellItem => item.CategoryId)
            </th>
        </tr>
            break;
        }
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    <p><img src="@Url.Content(item.Image)"></p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Title)
                </td>
                <td>
                    <a asp-action="Product_Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Product_Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
