@model IEnumerable<HotelProject.Models.Category>
@{
    ViewData["Title"] = "Admin_Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Категории</h2>

<p>
    <a asp-action="Admin_Add">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <p><img src="@Url.Content(item.Image)"></p>
            </td>
            <td>
                <a asp-action="Admin_Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Admin_Delete" asp-route-id="@item.Id">Удалить</a> |
                <a asp-area="" asp-controller="Product" asp-action="ListForCategories" asp-route-categoryId="@item.Id">Продукты</a>
            </td>
        </tr>
        }
    </tbody>
</table>