@model HotelProject.Models.Client
@{
    ViewData["Title"] = "Client_Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление</h2>
<div>
    <h4>Клиент</h4>
    <dl class="dl-horizontal">
        <dt>Имя</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>Почта</dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>Телефон</dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
    <form asp-action="Client_Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Client_Index">Вернуться назад</a>
    </form>
</div>









@*<!DOCTYPE html>
<html>
<head>
    <title>Удаление клиента</title>
</head>
<body>
    <dl>
        <dt>Имя клиента</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>Почта</dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>Телефон</dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        <input type="submit" value="Удалить" />
    }
</body>
</html>*@
