@model IEnumerable<HotelProject.Models.Client>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Клиенты</h2>

<p>
    <a asp-action="Add">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a> |
                </td>
            </tr>
        }
    </tbody>
</table>














@*<!DOCTYPE html>

<html>
<head>
    <title>Список клиентов</title>
</head>
<body>
    <h3>Список клиентов</h3>
    <table>
        <tr>
            <td>Имя:</td>
            <td>Почта:</td>
            <td>Телефон:</td>
        </tr>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.Name</td>
                <td>@client.Email</td>
                <td>@client.Phone</td>
                <td><a href="~/Client/Edit/@client.Id">Изменить</a></td>
                <td><a href="~/Client/Delete/@client.Id">Удалить</a></td>
            </tr>
        }
    </table>
    <a href="~/Client/Add">Добавить</a>
</body>
</html>*@
