@model HotelProject.Models.User
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователей</title>
</head>
<body>
    <div>
        <h3>Добавление пользователей</h3>
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.Login, "Логин")
            <br />
            @Html.EditorFor(model => model.Login)
            <br /><br />
            @Html.LabelFor(model => model.Password, "Пароль")
            <br />
            @Html.EditorFor(model => model.Password)
            <br /><br />
            @Html.LabelFor(model => model.RoleId, "Роль")
            <br />
            @Html.EditorFor(model => model.RoleId)
            <br /><br />
            <input type="submit" value="Добавить" />
        }
    </div>
</body>
</html>

