@model IEnumerable<HotelProject.Models.User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Пользователи</h2>


@if (TempData["User Add"] != null)
{
    <div class="alert alert-success">
        @TempData["User Add"]
    </div>
}
@if (TempData["User Edit"] != null)
{
    <div class="alert alert-success">
        @TempData["User Edit"]
    </div>
}
@if (TempData["User Delete"] != null)
{
    <div class="alert alert-success">
        @TempData["User Delete"]
    </div>
}

<p>
    @Html.ActionLink("Создать нового пользователя", "Add", "", htmlAttributes: new { @class = "btn btn-success" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.Raw("\u2022\u2022\u2022\u2022\u2022")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>